/* ----------------- Model ----------------------- */
.model-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 8px;
  backdrop-filter: blur(3px);
  background-color: #000000b3;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
}

.model-content {
  background-color: white;
  color: black;
  border-radius: 8px;
  z-index: 9999;
  width: 310px;
  min-height: 350px;
  max-height: 90vh;
  overflow-y: auto;
  scrollbar-width: none;
}

.model-logout {
  background-color: white;
  color: black;
  border-radius: 8px;
  z-index: 9999;
  padding: 20px;
  width: 375px;
  text-align: center;
}

.logout-btn-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 15px;
}

.logout-btn-container > :first-child {
  padding: 6px 12px;
  border: none;
  font-size: 15px;
  border-radius: 4px;
  background: #cfcccc;
  cursor: pointer;
}

.logout-btn-container > :last-child {
  padding: 6px 12px;
  border: none;
  font-size: 15px;
  border-radius: 4px;
  color: white;
  background: red;
  cursor: pointer;
}

.model-header {
  top: 0px;
  position: sticky;
  z-index: 100;
  display: flex;
  align-items: center;
  padding: 16px;
  background-color:#10b7fe;
  border-radius: 8px 8px 0px 0px;
}

.back-button {
  border: none;
  cursor: pointer;
  color: #10b7fe;
  padding: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  margin-right: -6.5%;
  width: 24px;
  height: 24px;
  background-color: white;
  border-radius: 5px;
  transition: 0.3s all ease;
}

.model-title {
  flex: 1;
  color: white;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
}

.model-info {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: none;
}

.model-info > img {
  height: 230px;
  width: 100%;
  object-fit: cover;
}

.user_card_details {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
}

.dashed-line {
  flex-grow: 1;
  border-bottom: 2px dashed;
  margin: 0 10px;
}

.user_card_details-container {
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 2px;
}
